<a href="https://colab.research.google.com/github/onur-altintas/RecommenderSystem/blob/main/Last_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 import math
 import operator
 import pandas as pd

In [ ]:
watched = {
'User1': {
'The Godfather': 5.00, 
'Yes Man': 4.29,
'Apocalypse Now': 5.00, 
'Jaws': 1.
},
'User2': {
'The Shawshank Redemption': 4.89, 
'Interstellar': 4.93 , 
'The Green Mile': 4.87,
'The Godfather': 1.33,
},
'User3': {
'Finding Nemo': 5.0, 
'Jaws': 4.89,
'Saving Private Ryan': 4.78, 
'Forest Gump': 4.33,
'Harry Potter': 4.77,
'The Godfather':  1.25,
'Yes Man': 1.72
},
'User4':{
'Forest Gump': 5.00	
},
'User5': {
'The Godfather': 4.02, 
'Yes Man': 5.00,
},
'User6': {
'The Godfather': 3.07, 
'Yes Man': 4.29, 
'Inception': 5.00, 
'Goodfellas':  4.89
},
'User7': {
'The Godfather': 3.80, 
'Yes Man': 3.61,
'Apocalypse Now': 4.26 
},
'User8': {
'Interstellar': 5.0,
'Whiplash': 5.0,
'The Godfather': 2.22,
'Yes Man': 3.34
},
'User9': {
'The Shawshank Redemption': 4.98,
'Interstellar': 4.42,
'Apocalypse Now': 1.63,
'The Godfather': 1.12,
'Yes Man': 2.16
},
'User10': {
'Finding Nemo': 5.0, 
'Forest Gump': 4.84,
},
'User11': {
'Saving Private Ryan': 3.78, 
'The Green Mile': 4.96,
'The Godfather': 1.04,
'Yes Man': 1.03
},
'User12': {
'The Godfather': 5.00, 
'Yes Man': 5.0, 
'Jaws': 1.24,
'Whiplash': 2.02
},
'User13': {
'Inception': 5.0, 
'Goodfellas': 4.87,
'Harry Potter': 1.14,
'The Godfather': 4.00
},
'User14': {
'The Godfather': 2.98,
'Yes Man': 3.93,
'Harry Potter': 1.37
},
'User15': {
'Jaws': 5.0, 
'Harry Potter': 5.0,
'The Godfather': 1.07,
'Yes Man': 0.63
},
'User16': {
'Inception': 4.89, 
'Goodfellas': 5.0,
'The Godfather': 4.87,
'Forest Gump': 1.32
}
}

In [ ]:
pd.DataFrame(watched).T

In [ ]:
# Function to get common movies b/w Users
def get_common_movies(userA,userB):
    return [movie for movie in watched[userA] if movie in watched[userB]]

In [ ]:
get_common_movies('User4','User1')

[]

In [ ]:
get_common_movies('User3','User10')

['Finding Nemo', 'Forest Gump']

In [ ]:
def get_reviews(userA,userB):
    common_movies = get_common_movies(userA,userB)
    return [(watched[userA][movie], watched[userB][movie]) for movie in common_movies]

In [ ]:
get_reviews('User4','User10')

[(5.0, 4.84)]

In [ ]:
def euclidean_distance(points):
    squared_diffs = [(point[0] - point[1]) ** 2 for point in points]
    summed_squared_diffs = sum(squared_diffs)
    distance = math.sqrt(summed_squared_diffs)
    return distance

In [ ]:
def similarity(reviews):
    if reviews==[]:
      return -1
    else:
      return 1/ (1 + euclidean_distance(reviews))

In [ ]:
def get_user_similarity(userA, userB):
    reviews = get_reviews(userA,userB)
    return similarity(reviews)

In [ ]:
similarity([])

-1

In [ ]:
get_user_similarity('User4','User2')

-1

In [ ]:
def recommend_movies(user, num_suggestions):
    similarity_scores = [(get_user_similarity(user, other), other) for other in watched if other != user] #get similarity scores with other users who also watched what you've watched.
    # Get similarity Scores for all the users
    similarity_scores.sort() 
    similarity_scores.reverse()
    similarity_scores = similarity_scores[0:num_suggestions]
    print(similarity_scores)
  
    recommendations = {}
    # Dictionary to store recommendations
    for similarity, other in similarity_scores:
      if similarity==-1:
        pass
      else:
        print(other)
        reviewed = watched[other]
        print(reviewed)
        # Storing the review
        for movie in reviewed:
            if movie not in watched[user]:
                print(movie)
                weight = similarity * reviewed[movie]
                print(weight)
                # Weighing similarity with review
                if movie in recommendations:
                    sim, weights = recommendations[movie]
                    recommendations[movie] = (sim + similarity, weights + [weight])
                    print(recommendations)
                    # Similarity of movie along with weight
                else:
                    recommendations[movie] = (similarity, [weight])
                    

    for recommendation in recommendations:
        similarity, movie = recommendations[recommendation]
        print("sum movie" +str(sum(movie)))
        print(similarity)
        recommendations[recommendation] = sum(movie) / similarity
        # Normalizing weights with similarity

    sorted_recommendations = sorted(recommendations.items(), key=operator.itemgetter(1), reverse=True)
    #Sorting recommendations with weight
    return sorted_recommendations

In [ ]:
recommend_movies('User4',10)

[(0.8620689655172413, 'User10'), (0.5988023952095809, 'User3'), (0.2136752136752137, 'User16'), (-1, 'User9'), (-1, 'User8'), (-1, 'User7'), (-1, 'User6'), (-1, 'User5'), (-1, 'User2'), (-1, 'User15')]
User10
{'Finding Nemo': 5.0, 'Forest Gump': 4.84}
Finding Nemo
4.310344827586206
User3
{'Finding Nemo': 5.0, 'Jaws': 4.89, 'Saving Private Ryan': 4.78, 'Forest Gump': 4.33, 'Harry Potter': 4.77, 'The Godfather': 1.25, 'Yes Man': 1.72}
Finding Nemo
2.9940119760479043
{'Finding Nemo': (1.4608713607268222, [4.310344827586206, 2.9940119760479043])}
Jaws
2.92814371257485
Saving Private Ryan
2.862275449101797
Harry Potter
2.856287425149701
The Godfather
0.7485029940119761
Yes Man
1.0299401197604792
User16
{'Inception': 4.89, 'Goodfellas': 5.0, 'The Godfather': 4.87, 'Forest Gump': 1.32}
Inception
1.044871794871795
Goodfellas
1.0683760683760686
The Godfather
1.0405982905982907
{'Finding Nemo': (1.4608713607268222, [4.310344827586206, 2.9940119760479043]), 'Jaws': (0.5988023952095809, [2.92814371257485]), 'Saving Private Ryan': (0.5988023952095809, [2.862275449101797]), 'Harry Potter': (0.5988023952095809, [2.856287425149701]), 'The Godfather': (0.8124776088847946, [0.7485029940119761, 1.0405982905982907]), 'Yes Man': (0.5988023952095809, [1.0299401197604792]), 'Inception': (0.2136752136752137, [1.044871794871795]), 'Goodfellas': (0.2136752136752137, [1.0683760683760686])}
sum movie7.304356803634111
1.4608713607268222
sum movie2.92814371257485
0.5988023952095809
sum movie2.862275449101797
0.5988023952095809
sum movie2.856287425149701
0.5988023952095809
sum movie1.7891012846102667
0.8124776088847946
sum movie1.0299401197604792
0.5988023952095809
sum movie1.044871794871795
0.2136752136752137
sum movie1.0683760683760686
0.2136752136752137

[('Goodfellas', 5.000000000000001),
 ('Finding Nemo', 5.0),
 ('Jaws', 4.89),
 ('Inception', 4.89),
 ('Saving Private Ryan', 4.78),
 ('Harry Potter', 4.77),
 ('The Godfather', 2.202031496062992),
 ('Yes Man', 1.72)]

In [ ]:
watched

{'User1': {'Apocalypse Now': 5.0,
  'Jaws': 1.0,
  'The Godfather': 5.0,
  'Yes Man': 4.29},
 'User10': {'Finding Nemo': 5.0, 'Forest Gump': 4.84},
 'User11': {'Saving Private Ryan': 3.78,
  'The Godfather': 1.04,
  'The Green Mile': 4.96,
  'Yes Man': 1.03},
 'User12': {'Jaws': 1.24,
  'The Godfather': 5.0,
  'Whiplash': 2.02,
  'Yes Man': 5.0},
 'User13': {'Goodfellas': 4.87,
  'Harry Potter': 1.14,
  'Inception': 5.0,
  'The Godfather': 4.0},
 'User14': {'Harry Potter': 1.37, 'The Godfather': 2.98, 'Yes Man': 3.93},
 'User15': {'Harry Potter': 5.0,
  'Jaws': 5.0,
  'The Godfather': 1.07,
  'Yes Man': 0.63},
 'User16': {'Forest Gump': 1.32,
  'Goodfellas': 5.0,
  'Inception': 4.89,
  'The Godfather': 4.87},
 'User2': {'Interstellar': 4.93,
  'The Godfather': 1.33,
  'The Green Mile': 4.87,
  'The Shawshank Redemption': 4.89},
 'User3': {'Finding Nemo': 5.0,
  'Forest Gump': 4.33,
  'Harry Potter': 4.77,
  'Jaws': 4.89,
  'Saving Private Ryan': 4.78,
  'The Godfather': 1.25,
  'Yes Man': 1.72},
 'User4': {'Forest Gump': 5.0},
 'User5': {'The Godfather': 4.02, 'Yes Man': 5.0},
 'User6': {'Goodfellas': 4.89,
  'Inception': 5.0,
  'The Godfather': 3.07,
  'Yes Man': 4.29},
 'User7': {'Apocalypse Now': 4.26, 'The Godfather': 3.8, 'Yes Man': 3.61},
 'User8': {'Interstellar': 5.0,
  'The Godfather': 2.22,
  'Whiplash': 5.0,
  'Yes Man': 3.34},
 'User9': {'Apocalypse Now': 1.63,
  'Interstellar': 4.42,
  'The Godfather': 1.12,
  'The Shawshank Redemption': 4.98,
  'Yes Man': 2.16}}

In [ ]:
df=pd.DataFrame.from_dict(watched)

In [ ]:
get_user_similarity('User4','User16')

0.2136752136752137

In [ ]:
get_user_similarity('User4','User10')

0.8620689655172413

In [ ]:
get_user_similarity('User4','User3')

0.5988023952095809

In [ ]:
1/(1+euclidean_distance([(5,1.32)]))*5

1.0683760683760686

In [ ]:
from sklearn.metrics.pairwise import pairwise_distances
user_sim = pairwise_distances(df1.T,metric = 'cosine')

In [ ]:
df.mean(axis=1)

The Godfather               2.912143
Yes Man                     3.181818
Apocalypse Now              3.630000
Jaws                        3.032500
The Shawshank Redemption    4.935000
Interstellar                4.783333
The Green Mile              4.915000
Finding Nemo                5.000000
Saving Private Ryan         4.280000
Forest Gump                 3.872500
Harry Potter                3.070000
Inception                   4.963333
Goodfellas                  4.920000
Whiplash                    3.510000
dtype: float64

In [ ]:
df1=df.fillna(df.mean(axis=0))

In [ ]:
pd.DataFrame(user_sim)

          0             1         2   ...        13        14            15
0   0.000000  5.984015e-02  0.093307  ...  0.035467  0.142389  4.161258e-02
1   0.059840  5.551115e-16  0.025754  ...  0.039288  0.056846  5.067156e-02
2   0.093307  2.575403e-02  0.000000  ...  0.078913  0.019787  7.191639e-02
3   0.025754  2.059345e-02  0.036204  ...  0.015343  0.065296  2.083314e-02
4   0.027978  1.634585e-02  0.036096  ...  0.013544  0.067173  2.326307e-02
5   0.036315  1.158249e-02  0.027044  ...  0.021520  0.057070  2.478962e-02
6   0.025338  2.002896e-02  0.032918  ...  0.018136  0.061040  2.169098e-02
7   0.048555  8.835508e-03  0.023688  ...  0.034542  0.052061  3.969210e-02
8   0.096080  2.166381e-02  0.047180  ...  0.073195  0.073772  7.677845e-02
9   0.025773  2.061195e-02  0.036026  ...  0.015361  0.065313  2.008783e-02
10  0.095077  3.355411e-02  0.031817  ...  0.088482  0.059687  8.155856e-02
11  0.015016  7.862438e-02  0.123658  ...  0.033305  0.173829  4.870968e-02
12  0.047473  4.682375e-02  0.073674  ...  0.014252  0.122376  3.322684e-02
13  0.035467  3.928769e-02  0.078913  ...  0.000000  0.128313  3.469563e-02
14  0.142389  5.684646e-02  0.019787  ...  0.128313  0.000000  9.353476e-02
15  0.041613  5.067156e-02  0.071916  ...  0.034696  0.093535  2.220446e-16

[16 rows x 16 columns]

## Different Model

In [ ]:
movies = pd.read_csv("movies1.csv",encoding="Latin1")
Ratings = pd.read_csv("ratings1.csv")
Tags = pd.read_csv("tags.csv",encoding="Latin1")

Mean = Ratings.groupby(by="userId",as_index=False)['rating'].mean()
Rating_avg = pd.merge(Ratings,Mean,on='userId')
Rating_avg['adg_rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head()

In [ ]:
check = pd.pivot_table(Rating_avg,values='rating_x',index='userId',columns='movieId')
check

In [ ]:
final = pd.pivot_table(Rating_avg,values='adg_rating',index='userId',columns='movieId')

In [ ]:
# Replacing NaN by Movie Average
final_movie = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [ ]:
# user similarity on replacing NAN by user avg
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user

In [ ]:
# user similarity on replacing NAN by item(movie) avg
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()

In [ ]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False).iloc[:n].index,index=['Top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [ ]:
# top 5 neighbours for each user
sim_user_5 = find_n_neighbours(similarity_with_movie,5)
sim_user_5.head()

        Top1  Top2  Top3  Top4  Top5
userId
1          7    12    14     5     4
2          6     4    10     9     7
3         11     9    15     4    10
4         10     6     7     9    16
5          8    12     1     7     4

In [ ]:
# top 30 neighbours for each user
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()

          Top1    Top2    Top3   Top4  ...   Top27   Top28   Top29   Top30
userId                                 ...
316     138176  100240   96936  51460  ...  124981   93203   81435   94333
320     138176   96936  121403   1447  ...   93203   80585  136037   22338
359     138176    1447    5268  96936  ...   57474   27142   80585   22338
370      86309   44194  138176  24802  ...   80585   13927   21401  136037
910      96936  107991  138176  27142  ...   61755  124981   88455   78908

[5 rows x 30 columns]

In [ ]:
def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.userId == user1].merge(
    Rating_avg[Rating_avg.userId == user2],
    on = "movieId",
    how = "inner" )
    return common_movies.merge( movies, on = 'movieId' )

In [ ]:
a = get_user_similar_movies(3,15)
a = a.loc[ : , ['rating_x_x','rating_x_y','title']]
a.head()

   rating_x_x  rating_x_y          title
0         1.5         0.5  The Godfather
1         4.5         5.0    Forest Gump
2         3.0         5.0    Ace Ventura
3         4.0         4.5     Terminator

In [ ]:
def User_item_score(user,item,no):
    sim  = find_n_neighbours(similarity_with_movie,no)
    a = sim[sim.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [ ]:
score = User_item_score(4,5,10)
print("score (user,item) is",score)

score (user,item) is 6.568470706490865

In [ ]:
Rating_avg = Rating_avg.astype({"movieId": str})
#watched movies list by user
Movie_user = Rating_avg.groupby(by = 'userId')['movieId'].apply(lambda x:','.join(x))
Movie_user

userId
1                      1,2,3,4
2             1,5,6,7,15,16,17
3     1,2,4,8,9,10,11,15,16,17
4                        10,17
5                    1,2,15,16
6                    1,2,12,13
7                     1,2,3,15
8               1,2,6,14,15,16
9                    1,2,3,5,6
10                        8,10
11               1,2,7,9,16,17
12           1,2,4,14,15,16,17
13           10,11,12,14,15,17
14                  1,10,14,17
15                1,3,10,15,17
16                     9,11,12
Name: movieId, dtype: object

In [ ]:
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'movieId':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    Movie_Name = top_5_recommendation.merge(movies, how='inner', on='movieId')
    Movie_Names = Movie_Name.title.values.tolist()
    return Movie_Names

In [ ]:
user = int(input("Enter the user id to whom you want to recommend : "))
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id :"+str(user))
print("   ")
for i in predicted_movies:
    print(i)

Enter the user id to whom you want to recommend : 3

ValueError: ignored

#MYSELF

In [ ]:
data=pd.DataFrame(watched)
data=data.T

In [ ]:
mean_rating_user=data.mean(axis=1)
adj_rating=data.T-mean_rating_user
adj_rating=adj_rating.T
adj_rating

In [ ]:
final_user=adj_rating.fillna(adj_rating.mean(axis=1))
final_movie=adj_rating.apply(lambda row: row.fillna(row.mean()),axis=0)

In [ ]:
final_movie

        The Godfather   Yes Man  ...  Goodfellas  Whiplash
User1        1.177500  0.467500  ...    0.891667   -0.0925
User2       -2.675000 -0.346318  ...    0.891667   -0.0925
User3       -2.570000 -2.100000  ...    0.891667   -0.0925
User4       -0.701214 -0.346318  ...    0.891667   -0.0925
User5       -0.490000  0.490000  ...    0.891667   -0.0925
User6       -1.242500 -0.022500  ...    0.577500   -0.0925
User7       -0.090000 -0.280000  ...    0.891667   -0.0925
User8       -1.670000 -0.550000  ...    0.891667    1.1100
User9       -1.742000 -0.702000  ...    0.891667   -0.0925
User10      -0.701214 -0.346318  ...    0.891667   -0.0925
User11      -1.662500 -1.672500  ...    0.891667   -0.0925
User12       1.685000  1.685000  ...    0.891667   -1.2950
User13       0.247500 -0.346318  ...    1.117500   -0.0925
User14       0.220000  1.170000  ...    0.891667   -0.0925
User15      -1.855000 -2.295000  ...    0.891667   -0.0925
User16       0.850000 -0.346318  ...    0.980000   -0.0925

[16 rows x 14 columns]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [ ]:
#user similarity (movie average)
cosine=cosine_similarity(final_movie)
np.fill_diagonal(cosine,0)
sim_movie=pd.DataFrame(cosine,index=final_user.index)
sim_movie.columns=final_user.index
sim_movie.head()

          User1     User2     User3  ...    User14    User15    User16
User1  0.000000  0.321465  0.095588  ...  0.734577  0.002719  0.684035
User2  0.321465  0.000000  0.780143  ...  0.511538  0.610602  0.426737
User3  0.095588  0.780143  0.000000  ...  0.252933  0.916891  0.295602
User4  0.670408  0.787874  0.737972  ...  0.800810  0.602101  0.676281
User5  0.730223  0.735161  0.564597  ...  0.909249  0.477012  0.775356

[5 rows x 16 columns]

In [ ]:
def find_neighbours(data,n):
  order = np.argsort(data.values, axis=1)[:, :n]
  data = data.apply(lambda x: pd.Series(x.sort_values(ascending=False).iloc[:n].index,index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
  return data

In [ ]:
sim_user_4=find_neighbours(sim_movie,4)
sim_user_4.head()

         top1    top2    top3    top4
User1  User12   User7  User14   User5
User2   User8   User6  User11   User9
User3  User15  User11   User2   User9
User4  User10   User7   User6   User5
User5   User7   User6   User4  User10

In [ ]:
data

        The Godfather  Yes Man  Apocalypse Now  ...  Inception  Goodfellas  Whiplash
User1            5.00     4.29            5.00  ...        NaN         NaN       NaN
User2            1.33      NaN             NaN  ...        NaN         NaN       NaN
User3            1.25     1.72             NaN  ...        NaN         NaN       NaN
User4             NaN      NaN             NaN  ...        NaN         NaN       NaN
User5            4.02     5.00             NaN  ...        NaN         NaN       NaN
User6            3.07     4.29             NaN  ...       5.00        4.89       NaN
User7            3.80     3.61            4.26  ...        NaN         NaN       NaN
User8            2.22     3.34             NaN  ...        NaN         NaN      5.00
User9            1.12     2.16            1.63  ...        NaN         NaN       NaN
User10            NaN      NaN             NaN  ...        NaN         NaN       NaN
User11           1.04     1.03             NaN  ...        NaN         NaN       NaN
User12           5.00     5.00             NaN  ...        NaN         NaN      2.02
User13           4.00      NaN             NaN  ...       5.00        4.87       NaN
User14           2.98     3.93             NaN  ...        NaN         NaN       NaN
User15           1.07     0.63             NaN  ...        NaN         NaN       NaN
User16           4.87      NaN             NaN  ...       4.89        5.00       NaN

[16 rows x 14 columns]

In [ ]:
def get_user_similar_movies(user1,user2):
  common_movies =

In [ ]:
def user_item_score(user,item,no_neighbour):
  sim_user=find_neighbours(sim_movie,no_neighbour)
  a = sim_user[sim_user.index==user].values
  b = a.squeeze().tolist()
  print(b)
  c = final_movie.loc[:,item]
  d = c[c.index.isin(b)]
  f = d[d.notnull()]
  #average user ratings
  avg_rat_user=data.mean(axis=1)
  avg_user = avg_rat_user.loc[avg_rat_user['']]

In [ ]:
final_movie.iloc[0].squeeze().tolist()

[1.1775000000000002,
 0.46750000000000025,
 1.1775000000000002,
 -2.8225,
 1.5015,
 1.1976666666666664,
 1.56125,
 0.6300000000000001,
 1.01875,
 -0.5674999999999998,
 -0.24437500000000023,
 0.9349999999999999,
 0.8916666666666666,
 -0.09250000000000003]

In [ ]:
data.mean(axis=1).loc[]

SyntaxError: ignored

#CLEANED

In [1]:
 import math
 import operator
 import pandas as pd
 import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:

movies = pd.read_csv("movies1.csv",encoding="Latin1")
Ratings = pd.read_csv("ratings1.csv")

Mean = Ratings.groupby(by="userId",as_index=False)['rating'].mean()
Rating_avg = pd.merge(Ratings,Mean,on='userId')
Rating_avg['adg_rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head()

final = pd.pivot_table(Rating_avg,values='adg_rating',index='userId',columns='movieId')

# Replacing NaN by Movie Average
final_movie = final.fillna(final.mean(axis=0))

# Replacing NaN by user Average
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

# user similarity on replacing NAN by user avg
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index

# user similarity on replacing NAN by item(movie) avg
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()

def find_neighbours(data,n):
    order = np.argsort(data.values, axis=1)[:, :n]
    df = data.apply(lambda x: pd.Series(x.sort_values(ascending=False).iloc[:n].index,index=['Top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

def User_item_score(user,item,no):
    sim  = find_neighbours(similarity_with_movie,no)
    a = sim[sim.index==user].values
    b = a.squeeze().tolist() 
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.userId == user1].merge(
    Rating_avg[Rating_avg.userId == user2],
    on = "movieId",
    how = "inner" )
    return common_movies.merge( movies, on = 'movieId' )

def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    similar_users=find_neighbours(similarity_with_movie,10) #find 10 similar users
    a = similar_users[similar_users.index==user].values 
    b = a.squeeze().tolist() #list of similar users
    d = Movie_user[Movie_user.index.isin(b)] #extract similar users' ratings
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    #Movies similars watched - movies watched by the user
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)] #extracting final_movie values for similar users
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'movieId':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    Movie_Name = top_5_recommendation.merge(movies, how='inner', on='movieId')
    Movie_Names = Movie_Name.title.values.tolist()
    Movie_rat = Movie_Name.score.values.tolist()
    return Movie_Name

FileNotFoundError: ignored

In [ ]:
    Movie_seen_by_user = check.columns[check[check.index==5].notna().any()].tolist()
    sim_user  = find_neighbours(similarity_with_movie,5)
    a = sim_user[sim_user.index==5].values #most similar with user xth
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)] #movies watched by most similar ones
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')

In [ ]:
Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
#Movies_under_consideration = list(map(int, Movies_under_consideration))
Movies_under_consideration

In [ ]:
c=final_movie.loc[:,4]
d=c[c.index.isin(b)]
f=d[d.notnull()]
f

In [ ]:
Movie_user[Movie_user.index.isin(b)]

In [ ]:
user = int(input("Enter the user id to whom you want to recommend : "))
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id :"+str(user))
print("   ")
#for i,j in predicted_movies:
    #print(i,j)

In [ ]:
print(predicted_movies)

In [ ]:
np.shape(predicted_movies)[0]

In [ ]:
for i in range(np.shape(predicted_movies)[0]):
  print(str(predicted_movies['title'][i]) + '\t' + str(predicted_movies['score'][i]))

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
np.shape(predicted_movies)[0]

5